html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  text-align: center;
}

/* estilos de la barra de navegación*/

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #4c1d95;
}

.nav-links {
  width: 100%;
  top: 5rem;
  background-color: white;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: rgb(252, 192, 192);
  border-radius: 1rem;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: flex;
    justify-content: center;
    position: static;
    width: auto;
    background: none;
    text-align: center;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
/* estilos oscuros*/
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
